/*
================================
Make everything a border-box
================================*/
* {
    box-sizing: border-box;
}

/*
================================
Overall Layout - HolyGrail flexbox!!
================================*/
header{
  padding: 0em 2em 1em 2em;
}
/*Adapted from:  https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
*/
.HolyGrail {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
  background: #ffffff;
}

.HolyGrail-header,
.HolyGrail-footer {
  flex: none; /* 2 */
  background: #0275d8;
}

.HolyGrail-body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding: 1.5em;
  border: black solid 1px;
}

.HolyGrail-content {
  margin-top: 0 2em;
  background: rgba(147, 128, 108, 0.1);
  padding: 0.5em;
}

.HolyGrail-nav {
  order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  padding: 1em;
  border-radius: 3px;
  background: olive;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    flex: 1;
    padding: 0 2em;
    margin: 0;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    flex: 0 0 12em;
  }
}

/*
================================
HolyGrail-HEADER: keyboardContainer
================================*/

/*
================================
HolyGrail-BODY: wordContainer
================================*/
#wordContainer{

}

#wordWrapper{
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
/*  display: -webkit-flex;
  display: flex;*/
}
.letter-wrapper{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 0;
  border-bottom: 3px solid black;
  margin-bottom: 2px;
  margin-right: 0.5em;
  position: relative;
  /*overflow: auto;*/ 
}
.no-letter-wrapper{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 0;
  /*border-bottom: 3px solid black;*/
  margin-bottom: 2px;
  position: relative;
}
/* display on new line if viewport is small!*/
@media (max-width: 550px){
  .no-letter-wrapper{
    display: block;
  }
}

.letter{
  display: block;
  width: 100%;
  position: absolute;
  bottom: -0.5em;
}
.space{
  display: block;
  width: 100%;
  position: absolute;
  bottom: -0.5em;
  visibility: hidden;
}

/*
================================
HolyGrail-BODY: keyboardContainer
================================*/
.keyboardContainer{
  padding: 2em;
}

.keyboardRow{
  width: 100%;
  text-align: center;
  padding: 1em;
}

.keyboard-letter{
  border: 2px gray solid;
  background-color: #0275d8;
  color: white;
  display: inline-block;
  width: 33%;
  text-align: center;
  /*float: left;*/
  line-height: 0;
  border-radius: 40%;
  width: 2em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.keyboard-letter > p {
  font-weight: 600;
}

.wrong-letter {
  border: 2px red solid;
  background-color: whitesmoke;
  color: red;
}

.correct-letter{
  border: 2px green solid;
  background-color: whitesmoke;
  color: green;
}


/*
================================
HolyGrail-NAV: New Game Button
================================*/
#newGame{
  max-width: 5em;
  text-align: center;
  background: lightblue;
  border: black solid 2px;
  border-radius: 3.5em;
}
#newGame:hover{
  background: #0275d8;
  border: blue dashed 3px;
  font-weight: 600;
}

/*
================================
Debugging! visualizing easily
================================*/
.v1{
  border: 5px gray solid;
}

.v2{
  border:4px black dashed;
}

.v3{
  border: 3px brown double;
}

.v4{
  border: 2px red solid;
}

.v5{
  border: 1px blue solid;
}